@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
    background-color: #fffffff0;
    color: initial;
    font-weight: normal;
    letter-spacing: 0.1px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: contain;
}


input {
  padding: 16px;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 0;
  border: 1px solid white;
  background: white;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}
.PhoneInputInput {
  -moz-box-flex: 1;
  flex: 1 1;
  min-width: 0;
  background: transparent;
  border: transparent;
  color: white;
}
.input-feedback {
  color: red;
  margin-top: .25rem;
}

button {
  padding: 24px 32px;
  border-style: none;
  border-radius: 0;
  background-color: #FFF;
  font-size: 16px;
  font-weight: 600;
  color: initial;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  display: block;
  width: 50%;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: .5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}

.select {
  position: relative;
  margin-bottom: 24px;
}
.select svg {
  position: absolute;
  right: 12px;
  top: calc(50% - 3px);
  width: 10px;
  height: 6px;
  stroke-width: 2px;
  stroke: #9098a9;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  pointer-events: none;
}
.select select {
  padding: 16px;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 0;
  border: 1px solid white;
  background: white;
}
.select select:required:invalid {
  color: #5a667f;
}
.select select option {
  color: #223254;
}
.select select option[value=""][disabled] {
  display: none;
}
.select select:focus {
  outline: none;
  border-color: #07f;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover + svg {
  stroke: #07f;
}
.sprites {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.phlav_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  gap: 0;
} 
.div_2 {
  border-left: 0;
  background-color: #082061;
}

@media (max-width: 600px) {
  .phlav_grid {
    display: block;
 
  }
}
