@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
    background-color: #f1f2f6;
    color: initial;
    font-weight: normal;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: contain;
}


input {
  padding: .5rem;
  font-size: 16px;
  width: 100%;
  display: block;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input:focus {
  border-color: #007eff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 0 3px rgba(0, 126, 255, 0.1);
  outline: none;
}

input.error {
  border-color: red;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: .5rem;
}

.input-feedback {
  color: red;
  margin-top: .25rem;
}

button {
  padding: 24px 32px;
  border-style: none;
  border-radius: 0;
  background-color: #FFF;
  font-size: 16px;
  font-weight: 600;
  color: initial;
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  display: block;
  width: 50%;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed !important;
}

button + button {
  margin-left: .5rem;
}

button.outline {
  background-color: #eee;
  border: 1px solid #aaa;
  color: #555;
}


.phlav_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  gap: 0;
} 
.div_2 {
  border-left: 0;
  background-color: #082061;
}

@media (max-width: 600px) {
  .phlav_grid {
    display: block;
 
  }
}
