@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
    background-color: #f1f2f6;
    color: initial;
    font-weight: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: contain;
}
.phlav_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  gap: 0;
} 
.div_2 {
  border-left: 0;
  background-color: #082061;
}
.logo {
  margin: 24px 0;
}
@media (max-width: 600px) {
  .phlav_grid {
    display: block;
 
  }
}
