.container {
  padding: 0;
  margin: 0;
}

.main {
  display: block;
  padding: 0 ;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
.welcome {
  background-color: #061B2F;
  color: white;
  padding: 24px;
  border-bottom: 1px solid #0C2135;

}
.phone_17 {
  background-color: #061b2f;
  padding: 24px;
  color: white;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-top: 1px solid #0C2135;
}
.phone_112 {
  background-color: #084c61;
  padding: 24px;
  color: white;
  display: flex;
  align-items: center;
}
.phone_115 {
  background-color: #487f88;
  padding: 24px;
  color: white;
  display: flex;
  align-items: center;
}

.phone_15 {
  background-color: #348aa7;
  padding: 24px;
  color: white;
  display: flex;
  align-items: center;
}
.phone_114 {
  background-color: #212c66;
  padding: 24px;
  color: white;
  display: flex;
  align-items: center;
}

.call {
  padding: 0;
  color: white;
  font-size: 24px;
  margin-right: 12px;

}
.phone_card {
  width: 100%;
  border-right: 1px solid #ffffff0f;
  margin-right: 24px;
}
.phone_card h1 {
  margin: 0;
  padding: 0;
  font-weight: 300;

}
.phone_card span {
  font-size: 18px;
font-weight: 300;
margin: 4px 0;
display: block;
  
}
.sred {
  background-color: #061B2F;
  padding:  24px;
  font-size: 16px;
  color: white;
}
.sred h1 {
  margin: 0;
  font-weight: 300;
}
.quote {
  font-size: 42px;
  font-weight: 500;
  margin: 24px 0;
}
.welcome h1 {
  font-weight: 300;
}
.return {
  background-color: #01161e;
  border: 1px solid #01161e;
  width: 100%;
  padding: 28px;
  font-size: 16px;
  font-weight: 600;
  position: fixed;
  color: white;
  bottom: 0;

}
@media (max-width: 600px) {
  .quote {
    font-size: 28px;
font-weight: 500;
line-height: 42px;
  }.welcome h1 {
    font-size: 18px;
  }
}
