.container {
  padding: 0;
  margin: 0;
}

.main {
  display: block;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}
.phone_17 {
  background-color: #0B2740;
  padding: 24px;
  text-align: center;
font-weight: bold;
color: white;

}
.phone_112 {
  background-color: #282d8b;
  padding: 24px;
  text-align: center;
font-weight: bold;
color: white;

}
.phone_115 {
  background-color: #487f88;
  padding: 24px;
  text-align: center;
font-weight: bold;
color: white;

}
.welcome {
  color: white;
  background-color: #000;
  padding: 24px;

}
.phone_15 {
  background-color: #0077c3;
  padding: 24px;
  text-align: center;
font-weight: bold;
color: white;

}
.phone_114 {
  background-color: #f98c31;
  padding: 24px;
  text-align: center;
font-weight: bold;
color: white;

}
.sred {
    color: white;
    background-color: #db001d;
    padding: 24px;
}
.sred h1 {
  margin: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
