.container {
  padding: 0;
  margin: 0;
}

.main {
  display: block;
  padding: 0 ;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
}
.welcome {
  color: black;
  padding: 0;

}
.phone_17 {
  background-color: #0B2740;
  padding: 24px;
  color: white;
  display: flex;

}
.phone_112 {
  background-color: #282d8b;
  padding: 24px;
  color: white;
  display: flex;

}
.phone_115 {
  background-color: #487f88;
  padding: 24px;
  color: white;
  display: flex;

}

.phone_15 {
  background-color: #0077c3;
  padding: 24px;
  color: white;
  display: flex;

}
.phone_114 {
  background-color: #e76f51;
  padding: 24px;
  color: white;
  display: flex;

}
.sred {
  color: initial;
  background-color: #F1F2F6;
  padding: 24px;
  font-size: 14px;
}
.call {
  padding: 24px;
  background: #ffffff0a;
  color: wheat;

}
.phone_card {
  width: 100%;
}
.phone_card h1 {
  margin: 0;
  padding: 0;
}
.sred h1 {
  margin: 0;
}
.quote {
  text-transform: uppercase;
  font-size: 21px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
